<style>
  div.itm-img {
    box-shadow: 3px 0px 0px lightgray;
  }
  div.itm-img:last-of-type{
    box-shadow: none;
  }
  div.card.section {
    background-color: beige;
  }
</style>
<div class="card mb-5 section">
  <div class="row p-2">
      <div class="col-12">
        <h5 style="font-family: cursive;">Recently added...</h5>
        <p>These are the last 3 items you've added to your wish list. Visit <a href="https://localhost:44347/wish-list" target="_blank">here</a> to add them and your other items to a gift list.</p>
      </div>
  </div>
  <div class="row p-2 pb-3 itm-content">
      <div class="col-4 itm-img">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81BiJDjjRIL._UX679_.jpg" style="width: 100%;"/>
      </div>
      <div class="col-4 itm-img">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51YFcwSUZ7L._SX679_.jpg" style="width: 100%;"/>
      </div>
      <div class="col-4 itm-img">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51R807kB1mL.jpg" style="width: 100%;"/>
      </div>
  </div>
</div>
<div class="card mb-5 section">
    <div class="row p-2">
        <div class="col-12">
          <h5 style="font-family: cursive;">Other Gift Ideas...</h5>
        </div>
    </div>
    <div class="row p-2 pb-3 itm-content">
        <div class="col-4 itm-img">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61m6PoVc-sL._UY679_.jpg" style="width: 100%;"/>
        </div>
        <div class="col-4 itm-img">
          <img src="  https://images-na.ssl-images-amazon.com/images/I/71XjSm5h4iL._UX679_.jpg
              " style="width: 100%;"/>
        </div>
        <div class="col-4 itm-img">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41SZ6APVfGL.jpg" style="width: 100%;"/>
        </div>
    </div>
  </div>
